gunicorn==20.1.0
better_profanity==0.7.0
Flask_Login==0.5.0
Flask_Bootstrap==3.3.7.1
itsdangerous==2.0.1
Flask_SQLAlchemy==2.5.1
requests==2.26.0
pandas==1.3.3
Werkzeug==2.0.2
phonenumbers==8.12.31
SQLAlchemy==1.4.25
Flask==2.0.2
google_auth_oauthlib==0.4.6
pycountry==20.7.3
alive_progress==2.0.0
pip==21.2.4
django_qrcode==0.3
pyshorteners==1.0.1
beautifulsoup4==4.10.0
flask_wtf==0.15.1
Pillow==8.3.2
protobuf==3.18.1
python-dotenv==0.19.0
qrcode==7.3.1
selenium==3.141.0
WTForms==2.3.3
